html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

@media (min-width: 992px){

    #page1 {
        width: 100%;
    }

    #page1 .nav-container {
        display: flex;
        position: absolute;
        flex-wrap: nowrap;
        align-items: center;
        white-space: nowrap;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        padding: 20px;
        column-gap: 300px;
        font-family:'Open Sans', sans-serif;
        letter-spacing: 3px;
    }

    #page1 .nav-container .logo {
        font-size: 24px;
        margin-left: 100px;
    }

    #page1 .nav-container .menu a {
        margin-left: 10px;
        font-size: 12px;
        text-decoration: none;
        color: white;
    }

    #page1 .nav-container .login a {
        margin-left: 10px;
        font-size: 12px;
        text-decoration: none;
        color: white;
    }

    .page1-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }

    #page1 .container {
        display: flex;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 20%;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        font-family: 'Bebas Neue', cursive;
        font-style: normal;

    }

    #page1 .container .main-text {
        font-size: 80px;
        letter-spacing: 8px;
        font-weight: bold;
        color: white;
    }

    #page1 .container .alt-text {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 3px;
        color: white;
    }

    #page1 .container .button {
        font-size: 16px;
        letter-spacing: 3px;
        font-weight: bold;
        text-align: center;
        color: black;
        background-color: #FFB548;
        padding: 15px 60px;
        border-radius: 5px;
    }

    /* 2nd Page */
    #page2 {
        width: 100%;
        position: relative;
    }

    .page2-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }

    #page2 .text-container {
        display: flex;
        position: absolute;
        color: white;
        top: 25%;
        left: 5%;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        font-family: 'Bebas Neue', cursive;
        font-style: normal;
    }

    #page2 .text-container h1 {
        font-size: 72px;
        margin: 0px;
        letter-spacing: 8px;
    }

    #page2 .text-container h3 {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 3px;
        margin: 0px;
    }

    #page2 .article-img {
        display: flex;
        position: absolute;
        z-index: 5;
        top: 30%;
        right: 5%;
        width: 800px;
        height: 400px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    }

    /* 3rd Page */
    #page3 {
        width: 100%;
        position: relative;
    }

    .page3-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }

    #page3 .feature-header {
        position: absolute;
        color: white;
        top: 15%;
        left: 60%;
    }

    #page3 .feature-header h1 {
        font-size: 72px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 8px;
        margin: 0px;
    }

    #page3 .feature-header h3 {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 3px;
        margin: 0px;
    }

    #page3 .feature-container {
        width: 400px;
        position: absolute;
        display: flex;
        flex-flow: column wrap;
        top: 30%;
        left: 60%;
    }

    #page3 .feature-item h3 {
        font-size: 32px;
        letter-spacing: 3px;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        color: #FFB548;
        margin-bottom: 10px;

    }

    #page3 .feature-container p {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        color: white;
    }

    /* 4th Page */
    #page4 {
        width: 100%;
        position: relative;
    }

    .page4-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }

    #page4 .req-header {
        position: absolute;
        top: 25%;
        left: 5%;
        font-size: 72px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 8px;
        color: white;
    }

    #page4 .req-container {
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        width: 800px;
        top: 45%;
        left: 5%;
        color: white;
        
    }

    #page4 .req-container .req-item {
        flex-shrink: 2;
        border: 0.1px solid #979797;
        flex-basis: 40%;
        background: rgba(0, 0, 0, 0.6);
    }

    #page4 .req-container h3 {
        font-size: 32px;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        letter-spacing: 3px;
        color: #FFB548;
        margin: 10px auto 10px 0px;
        font-style: normal;
    }

    #page4 .req-container p {
        font-size: 18px;
        color: white;
        font-family:'Open Sans', sans-serif;
        font-style: normal;
    }


    #page4 .req-container .graphics {
        flex-shrink: 2;
        border: 0.1px solid #979797;
        flex-basis: 642px;
        background: rgba(0, 0, 0, 0.6);
    }


    /* 5th Page */
    #page5 {
        width: 100%;
        position: relative;    
    }

    .page5-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
        background-color: rgb(30, 30, 30);    
    }

    #page5 .score-header {
        position: absolute;
        color: white;
        top: 40%;
        left: 5%;
        width: 500px;
    }

    #page5 .score-btn {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        letter-spacing: 3px;
        font-weight: bold;
        text-align: center;
        color: black;
        background-color: #FFB548;
        padding: 15px 60px;
        border-radius: 5px;
        width: 30%;
        align-self: center;
        margin-top: 25px;
    }

    #page5 .score-header h1 {
        font-size: 72px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 8px;
        margin: 0px;
    }

    #page5 .score-header h3 {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 3px;
        margin: 0px;
    }

    #page5 .score-container {
        display: flex;
        position: absolute;
        top: 20%;
        right: 10%;
        width: 500px;
        flex-flow: column nowrap;
        row-gap: 25px;

    }

    #page5 .score-item-a {
        background: rgb(30, 30, 30);
        border-radius: 10px;
        width: 80%;
        align-self: flex-end;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    }

    #page5 .score-item-b{
        background: rgb(30, 30, 30);
        border-radius: 10px;
        align-self: flex-start;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    }

    #page5 .score-img img {
        float: left;
        width: 15%;
        border-radius: 50%;
        margin: 15px 20px 20px 10px;
        box-shadow: 10px 5px #FFB548;
    }

    #page5 .score-item-header {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 3px;
        color: #FFB548;
        margin: 15px 0px 0px 10px;
    }

    #page5 .score-item-pro {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 3px;
        color: white;
        margin: 0px 0px 5px 10px;
    }

    #page5 .score-container p {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: white;
        margin: 40px 15px 10px 15px;
    }

    #page5 .score-date {
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: #979797;
        margin: 10px 15px;
    }
}

@media (max-width: 992px){

    #page1 {
        width: 100%;
    }

    #page1 .nav-container {
        display: flex;
        position: absolute;
        flex-wrap: nowrap;
        align-items: center;
        white-space: nowrap;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        padding: 10px;
        column-gap: 30px;
        font-family:'Open Sans', sans-serif;
        letter-spacing: 3px;
    }

    #page1 .nav-container .logo {
        font-size: 1.2rem;
        margin-left: 60px;
    }

    #page1 .nav-container .menu a {
        margin-left: 10px;
        font-size: 0.8rem;
        text-decoration: none;
        color: white;
    }

    #page1 .nav-container .login a {
        margin-left: 10px;
        font-size: 0.8rem;
        text-decoration: none;
        color: white;
    }

    .page1-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }

    #page1 .container {
        display: flex;
        z-index: 10;
        position: absolute;
        top: 15%;
        left: 18%;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: 'Bebas Neue', cursive;
        font-style: normal;

    }

    #page1 .container .main-text {
        font-size: 4rem;
        letter-spacing: 3px;
        font-weight: bold;
        color: white;
    }

    #page1 .container .alt-text {
        font-size: 1.6rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
        color: white;
    }

    #page1 .container .button {
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: bold;
        text-align: center;
        color: black;
        background-color: #FFB548;
        padding: 15px 40px;
        border-radius: 5px;
    }

    /* 2nd Page */
    #page2 {
        width: 100%;
        position: relative;
    }

    .page2-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }

    #page2 .text-container {
        display: flex;
        position: absolute;
        color: white;
        top: 10%;
        left: 15%;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        font-family: 'Bebas Neue', cursive;
        font-style: normal;
    }

    #page2 .text-container h1 {
        font-size: 3rem;
        margin: 0px;
        letter-spacing: 5px;
    }

    #page2 .text-container h3 {
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
        margin: 0px;
    }

    #page2 .article-img {
        display: flex;
        position: absolute;
        z-index: 5;
        top: 30%;
        left: 15%;
        width: 80%;
        height: 50%;
        
    }

    /* 3rd Page */
    #page3 {
        width: 100%;
        position: relative;
    }

    .page3-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }

    #page3 .feature-header {
        position: absolute;
        color: white;
        top: 15%;
        left: 60%;
    }

    #page3 .feature-header h1 {
        font-size: 3rem;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        margin: 0px;
    }

    #page3 .feature-header h3 {
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
        margin: 0px;
    }

    #page3 .feature-container {
        width: 300px;
        position: absolute;
        display: flex;
        flex-flow: column wrap;
        top: 30%;
        left: 60%;
    }

    #page3 .feature-item h3 {
        font-size: 2rem;
        letter-spacing: 2px;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        color: #FFB548;
        margin-bottom: 10px;

    }

    #page3 .feature-container p {
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        color: white;
    }

    /* 4th Page */
    #page4 {
        width: 100%;
        position: relative;
    }

    .page4-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }

    #page4 .req-header {
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 3rem;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 1px;
        color: white;
    }

    #page4 .req-container {
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        width: 600px;
        top: 35%;
        left: 5%;
        color: white;
        
    }

    #page4 .req-container .req-item {
        flex-shrink: 2;
        border: 0.1px solid #979797;
        flex-basis: 40%;
        background: rgba(0, 0, 0, 0.6);
    }

    #page4 .req-container h3 {
        font-size: 2rem;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        letter-spacing: 2px;
        color: #FFB548;
        margin: 3px auto 3px 0px;
        font-style: normal;
    }

    #page4 .req-container p {
        font-size: 1rem;
        color: white;
        font-family:'Open Sans', sans-serif;
        font-style: normal;
    }


    #page4 .req-container .graphics {
        flex-shrink: 2;
        border: 0.1px solid #979797;
        flex-basis: 482px;
        background: rgba(0, 0, 0, 0.6);
    }


    /* 5th Page */
    #page5 {
        width: 100%;
        position: relative;    
    }

    .page5-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
        background-color: rgb(30, 30, 30);    
    }

    #page5 .score-header {
        position: absolute;
        color: white;
        top: 30%;
        left: 5%;
        width: 300px;
    }

    #page5 .score-btn {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: bold;
        text-align: center;
        color: black;
        background-color: #FFB548;
        padding: 15px 30px;
        border-radius: 5px;
        width: 50%;
        align-self: center;
        margin-top: 25px;
    }

    #page5 .score-header h1 {
        font-size: 3rem;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 5px;
        margin: 0px;
    }

    #page5 .score-header h3 {
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 3px;
        margin: 0px;
    }

    #page5 .score-container {
        display: flex;
        position: absolute;
        top: 8%;
        right: 8%;
        width: 400px;
        flex-flow: column nowrap;
        row-gap: 15px;

    }

    #page5 .score-item-a {
        background: rgb(30, 30, 30);
        border-radius: 10px;
        width: 80%;
        align-self: flex-end;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    }

    #page5 .score-item-b{
        background: rgb(30, 30, 30);
        border-radius: 10px;
        align-self: flex-start;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    }

    #page5 .score-img img {
        float: left;
        width: 15%;
        border-radius: 50%;
        margin: 15px 20px 20px 10px;
        box-shadow: 10px 5px #FFB548;
    }

    #page5 .score-item-header {
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
        color: #FFB548;
        margin: 15px 0px 0px 10px;
    }

    #page5 .score-item-pro {
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
        color: white;
        margin: 0px 0px 5px 10px;
    }

    #page5 .score-container p {
        font-size: 0.8rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: white;
        margin: 15px 15px 10px 15px;
    }

    #page5 .score-date {
        font-size: 0.6rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: #979797;
        margin: 10px 15px;
    }
}

@media (max-width: 576px) {
    #page1 {
        width: 100%;
    }
    
    #page1 .nav-container {
        display: flex;
        position: absolute;
        align-items: baseline;
        justify-content: flex-start;
        white-space: nowrap;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        padding: 6px;
        column-gap: 10px;
        font-family:'Open Sans', sans-serif;
        letter-spacing: 3px;
    }
    
    #page1 .nav-container .logo {
        font-size: 0.5em;
        margin-left: 3px;
    }
    
    #page1 .nav-container .menu a {
        margin-left: 2px;
        font-size: 0.1em;
        text-decoration: none;
        color: white;
    }
    
    #page1 .nav-container .login a {
        margin-left: 2px;
        font-size: 0.1em;
        text-decoration: none;
        color: white;
    }
    
    .page1-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }
    
    #page1 .container {
        display: flex;
        z-index: 10;
        position: absolute;
        top: 12%;
        left: 14%;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-family: 'Bebas Neue', cursive;
        font-style: normal;
    
    }
    
    #page1 .container .main-text {
        font-size: 2rem;
        letter-spacing: 2px;
        font-weight: bold;
        color: white;
    }
    
    #page1 .container .alt-text {
        font-size: 0.8rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
        color: white;
    }
    
    #page1 .container .button {
        font-size: 0.5rem;
        font-weight: bold;
        text-align: center;
        color: black;
        background-color: #FFB548;
        padding: 5px 15px;
        border-radius: 5px;
        letter-spacing: 1px;
    }
    
    /* 2nd Page */
    #page2 {
        width: 100%;
        position: relative;
    }
    
    .page2-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }
    
    #page2 .text-container {
        display: flex;
        position: absolute;
        color: white;
        top: 15%;
        left: 15%;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        font-family: 'Bebas Neue', cursive;
        font-style: normal;
    }
    
    #page2 .text-container h1 {
        font-size: 1.6rem;
        margin: 0px;
        letter-spacing: 5px;
    }
    
    #page2 .text-container h3 {
        font-size: 0.5rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
        margin: 0px;
    }
    
    #page2 .article-img {
        display: flex;
        position: absolute;
        z-index: 5;
        top: 35%;
        left: 15%;
        width: 30%;
        height: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    }
    
    /* 3rd Page */
    #page3 {
        width: 100%;
        position: relative;
    }
    
    .page3-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }
    
    #page3 .feature-header {
        position: absolute;
        color: white;
        top: 15%;
        left: 55%;
    }
    
    #page3 .feature-header h1 {
        font-size: 1.6rem;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 5px;
        margin: 0px;
    }
    
    #page3 .feature-header h3 {
        font-size: 0.5rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
        margin: 0px;
    }
    
    #page3 .feature-container {
        width: 50%;
        position: absolute;
        display: flex;
        flex-flow: column wrap;
        top: 30%;
        left: 55%;
    }
    
    #page3 .feature-item h3 {
        font-size: 0.8rem;
        letter-spacing: 1px;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        color: #FFB548;
        margin-bottom: 5px;
    
    }
    
    #page3 .feature-container p {
        font-size: 0.3rem;
        font-family: 'Open Sans', sans-serif;
        color: white;
    }
    
    /* 4th Page */
    #page4 {
        width: 100%;
        position: relative;
    }
    
    .page4-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
    }
    
    #page4 .req-header {
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 1.6rem;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 1px;
        color: white;
    }
    
    #page4 .req-container {
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        width: 200px;
        top: 38%;
        left: 5%;
        color: white;
        
    }
    
    #page4 .req-container .req-item {
        flex-shrink: 2;
        border: 0.1px solid #979797;
        flex-basis: 40%;
        background: rgba(0, 0, 0, 0.6);
    }
    
    #page4 .req-container h3 {
        font-size: 0.6rem;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        letter-spacing: 1px;
        color: #FFB548;
        margin: 3px auto 2px 0px;
        font-style: normal;
    }
    
    #page4 .req-container p {
        font-size: 0.3rem;
        color: white;
        font-family:'Open Sans', sans-serif;
        font-style: normal;
    }
    
    
    #page4 .req-container .graphics {
        flex-shrink: 2;
        border: 0.1px solid #979797;
        flex-basis: 162px;
        background: rgba(0, 0, 0, 0.6);
    }
    
    
    /* 5th Page */
    #page5 {
        width: 100%;
        position: relative;    
    }
    
    .page5-main-banner {
        width: inherit;
        max-height: 100%;
        background-size: contain;
        background-color: rgb(30, 30, 30);    
    }
    
    #page5 .score-header {
        position: absolute;
        color: white;
        top: 20%;
        left: 5%;
        width: 100px;
    }
    
    #page5 .score-btn {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.6rem;
        letter-spacing: 1px;
        font-weight: bold;
        text-align: center;
        color: black;
        background-color: #FFB548;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        align-self: center;
        margin-top: 10px;
    }
    
    #page5 .score-header h1 {
        font-size: 1.6rem;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        margin: 0px;
    }
    
    #page5 .score-header h3 {
        font-size: 0.6rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
        margin: 0px;
    }
    
    #page5 .score-container {
        display: flex;
        position: absolute;
        top: 10%;
        right: 10%;
        width: 200px;
        flex-flow: column nowrap;
        row-gap: 10px;
    
    }
    
    #page5 .score-item-a {
        background: rgb(30, 30, 30);
        border-radius: 10px;
        width: 80%;
        align-self: flex-end;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    }
    
    #page5 .score-item-b{
        background: rgb(30, 30, 30);
        border-radius: 10px;
        align-self: flex-start;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    }
    
    #page5 .score-img img {
        float: left;
        width: 15%;
        border-radius: 50%;
        margin: 15px 20px 20px 10px;
        box-shadow: 10px 5px #FFB548;
    }
    
    #page5 .score-item-header {
        font-size: 0.6rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 3px;
        color: #FFB548;
        margin: 5px 0px 0px 2px;
    }
    
    #page5 .score-item-pro {
        font-size: 0.3rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        letter-spacing: 3px;
        color: white;
        margin: 0px 0px 5px 10px;
    }
    
    #page5 .score-container p {
        font-size: 0.3rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: white;
        margin: 10px 3px 2px 3px;
    }
    
    #page5 .score-date {
        font-size: 0.2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: #979797;
        margin: 2px 3px;
    }
}